html {
  font-size: 16px;
  /*14*/
}

@media (min-width: 768px) {
  html {
    font-size: 19px;
    /*16*/
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: white;
    margin-bottom: 60px;
    background-image: url('/Content/test.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Goudy Old Style';
    font-variant: small-caps;
}
