@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p>Здравейте! Ние сме Надежда и Силвия и това е нашият сайт. В него ще намерите информация за филми от различни жанрове. Също така можете да търсите желания от вас филм като използвате търсачката горе в дясно. Надяваме се да ви хареса :) </p>
